div{
	height: 200px;
	width: 200px;
}
.rosa{
	background:#ff4da6;
	position: static;
}
.morado {
	background:#cc66ff;
	position: relative;
	left:200px;
}
.azul {
	background:#1ad1ff;
	position: static;
}
body {
	margin: 0px;
	padding: 0px;
}