div{
	height: 200px;
	width: 200px;
}
.rosa{
	background:#ff4da6;
	position: absolute;
	left:0px;
	top:0px;
}
.morado {
	background:#cc66ff;
	position: absolute;
	right: 0px;
	top: 0px
}
.azul {
	background:#1ad1ff;
	position: absolute;
	right: 0px;
	bottom: 0px
}
.verde {
	background: #99ff99;
	position: absolute;
	left:0px;
	bottom: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}